body{
	background-color: #E8CC86;
}
#MyHeader {
	text-align: center;
	text-transform: uppercase;
	color: #9BA076
}
h1 {
	font-size: 40px;
	font-family: Century Gothic, sans-serif;
}
.image{
	margin-left: 15em
}
.Introduction{
	text-align: justify;
	letter-spacing: 2px;
	line-height: 2.0;
}
p{
	font-family: Arial, sans-serif;
	font-size: 13px;
}
.Misc{
	text-align: center;
	font-size: 20px;
}