body{
	background-color: #E8CC86;
}
#MyHeader {
	text-align: center;
	text-transform: uppercase;
	color: #9BA076
}
h1 {
	font-size: 40px;
	font-family: Century Gothic, sans-serif;
}
.image{
	margin-left: 50em;
}

.Introduction{
	text-align: justify;
	letter-spacing: 2px;
	line-height: 2.0;
}
p{
	font-family: Arial, sans-serif;
	font-size: 13px;
}
.Misc{
	text-align: center;
	font-size: 20px;
}
a:visited{
	color:#055F7C;
}
@keyframes spin{
	0% {transform: rotate(0deg);}
	33%{transform: rotate(360deg);}
	67%{transform: rotate(-360deg);}
	100%(transform: rotate(360deg);})
}
button{
	border: 0;
	color: #779CCA;
	border-radius: 2px;
	cursor:pointer;
	font: Arial, sans-serif;
	margin-left: 60em;
	outline:0;
	padding: 10px 15px;
	transition: all .1s linear;
	box-shadow: 0 5px 0 #006599;
	animation-name: spin;
	animation-duration: 9s;
	animation-iteration-count: infinite;
}
button:active{
	box-shadow: 0 2px 0 #006599;
	transform: translateY(3px);
}

