<body>
body{
	background-color: #f2ea9e;
}
#MyHeader {
	text-align: center;
	text-transform: uppercase;
	color: #9BA076
}
h1 {
	font-size: 40px;
	font-family: Century Gothic, sans-serif;
}
p{
	text-align: justify;
	letter-spacing: 4px;
	line-height: 2.0
}
